   @font-face {
 font-family: 'Prompt';
 font-style: normal;
 font-weight: 300;
 src: local('Prompt Light'), local('Prompt-Light'), url(http://localhost/webapp/public/Prompt.ttf) format('truetype');
}  

/* @font-face {
 font-family: 'Prompt';
 font-style: normal;
 font-weight: 300;
 src: local('Prompt Light'), local('Prompt-Light'), url(http://symple.world/ezquiz/public/Prompt.ttf) format('truetype');
} */

html,body {
    background: #fff;
    height: 100%;
    font-family: 'Prompt', sans-serif !important;
}
.fade{
  transition:0.5s linear all;
  opacity: 1;
}

.fade.ng-hide {
  opacity:0;
}

.level:not(:last-child){
  margin-bottom: 0px;
}

.table tbody tr:last-child td,.table tbody tr:last-child th{
  border-bottom-width: 1px;
}

.is-teal {
  background-color:#4db6ac;
  color:#fff; 
}
.is-light-blue {
  background-color:#64b5f6;
  color:#fff; 
}
.is-green {
  background-color:#81c784;
  color:#fff; 
}
.is-amber {
  background-color:#ffd54f;
  color:#fff; 
}
.is-deep-orange {
  background-color:#ff8a65;
  color:#fff; 
}
.is-red {
  background-color:#e57373 ;
  color:#fff; 
}

.hero-edit {
    padding-bottom: 100px !important;
    padding-top: 70px !important;
}
th:hover{
  cursor: pointer;
}
.img-circle {
    max-height: 128px;
    border-radius: 50%;
}

button,select,input{
	font-family: inherit;
}


.hovereffect{ transition: all .2s ease-in-out; }
.hovereffect:hover { transform: scale(1.05); } 
.hovereffect a{ color:inherit; }

input[type="radio"]{
  display: none;
}
.choices {
  margin-bottom: 10px;
}
/* Radio buttons */
.choices label {
  position: relative;
}
.choices span::before,
.choices span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.choices span.radio:hover {
  cursor: pointer;
}
.choices span.radio::before {
  width: 27px;
  height: 27px;
  background-color: #fff;
  left: -35px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border-color .2s;
}
.choices span.radio:hover::before {
  border: 3px solid #F0FF76;
}
.choices span.radio::after {
  content: '\f00c';
  font-size: 1.3em;
  font-family: 'FontAwesome';
  left: -31px;
  top: 2px;
  color: transparent;
  transition: color .2s;
}
input[type="radio"]:checked + label span.radio::after {
  color: #62AFFF;
}


@media screen and (max-width: 473px) {
    table {width:100%;}
    thead {display: none;}
    tr:nth-of-type(2n) {background-color: inherit;}
    tr td:first-child {background: #f0f0f0; font-weight:bold;font-size:1.3em;}
    tbody td {display: block; text-align:center;}
    tbody td:before { 
        font-weight: bold;
        content: attr(data-th); 
        display: block;
        text-align:center;  
      }
    }
}